.my-plugin-guten-wrapper {
    text-align: center;

    .my-plugin-logo {
        img {
            height: 50px;
        }
    }

    .components-base-control__label {
        font-weight: 700;
    }
}
